body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

.welcome-section h2 {
    color: #666;
    margin-bottom: 30px;
}

.actions {
    margin: 30px 0;
}

button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: blueviolet;
}

.hidden {
    display: none;
}

#timingForm input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#timingForm button {
    background-color: blueviolet;
    border: none;
}

#timingForm button:hover {
    background-color: blueviolet;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f1f1f1;
}
